@import '../Style/variables.scss';

.user-item {
    display: block;
    width: 420px;
    height: 62px;
    background: #F3F3F3;
    border-radius: 8px;
    margin-bottom: 16px;
    padding-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    // line-height: 13px;
    &__info {
        margin-bottom: 7px;
        margin-left: 10px;
        &__gray {
            color: #A3A3A3;
            margin-right: 7px;
        }
        &__button-more{
            margin-right: 10px;
            color: $purple;
            font-size: 12px;
            text-decoration: none;
        }
    }
    &__info:last-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.user-item:first-child {
    margin-top: 17px;
}